* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background: #3f5ca0;
  color: #fffffe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 84px;
  width: auto;
  border-bottom: 1px solid #000;
}
.navbar-title {
  font-size: 25px;
  position: absolute;
  top: 5px;
  left: 20px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 62.5rem;
  padding: 10px;
}
.navbar-email {
  margin-right: 20px;
}
input {
  border: 1px solid #1d2a5b;
  width: 9.375rem;
  height: 20px;
}
.navbar-button {
  margin-left: 20px;
  margin-top: 22px;
}
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fffffe;
  background: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  height: 20px;
  width: 60px;
}
.account a {
  font-size: 14px;
  color: #8fb1d8;
  position: absolute;
  top: 55px;
  right: 9.5rem;
  text-decoration: none;
}
.main-page {
  background: hsl(226deg 28% 91%);
  color: #0e385f;
}
.main-page h4 {
  padding-top: 50px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
